body {
    overflow-y: hidden;
    background: rgb(127,127,213);
    background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 50%, rgba(145,234,228,1) 100%);
    display: flex;
    justify-content: center;
    
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 200px;    
    padding: 12px 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.10) 28%, rgba(255,255,255,0.46) 40%, rgba(255,255,255,1) 60%);
    position: relative;
    border: 1.5px solid rgb(255, 255, 255, 0.5);

}


.button-container {
    display: grid;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    /* background-color: lightpink;
     */
}

.last-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    /* background-color: lightblue; */
    gap: 16px;
    
}

button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    white-space: nowrap;
    background-color: #C6C6C6;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
}

button:hover {
    background-color: rgb(198, 198, 198, 0.6)
}


.text {
    /* background-color: black; */
    /* color: white; */
    margin-top: 125px;
    margin-bottom: 25px;
    
}

.js-input {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
    width: 240px;
    /* padding: 20px; */
    border-style: none;
    background-color: transparent;
    text-align: right;
    
}

.zero {
    /* padding: 0 55px; */
    width: 110px;
    margin-left: 4px;
    border-radius: 50px ;
    
}

.orange {
    background-color: #F19A37;
    color: white;
}

.orange:hover {
    background-color: rgb(241, 154, 55, 0.9);
}

.dark {
    background-color: #A6A6A6;
}

.dark:hover {
    background-color: rgb(166, 166, 166,  0.8)
}

