body {
    background: rgb(127,127,213);
    background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 50%, rgba(145,234,228,1) 100%);
    display: flex;
    justify-content: center;
    position: relative;
}



.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 200px;    
    padding: 12px;
    padding-bottom: 20px;
    border-radius: 25px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.10) 28%, rgba(255,255,255,0.46) 40%, rgba(255,255,255,1) 60%);
    position: relative;
  
    }


.button-container, .last-buttons {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    
}


.button-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}

.last-buttons {
    grid-template-columns: 2fr 1fr 1fr;
    padding-top: 10px;
    column-gap: 12px;
    
}

button {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    white-space: nowrap;
    background-color: #C6C6C6;
    cursor: pointer;
}

.text {
    background-color: black;
    margin-top: 125px;
    margin-bottom: 25px;
    
}

.zero {
    padding: 0 60px;
    border-radius: 50px ;
    
}

.orange {
    background-color: #F19A37;
    color: white;
}

.dark {
    background-color: #A6A6A6;
}

